<%- include('partials/header') %>


<div class="jumbotron centered">
  <div class="container">
    <h1 class="display-3 bl">Mystery Keeper</h1>
    <p class="lead bl">Want to keep your secrets safe ? You are at the best place</p>
    <a class="btn btn-light btn-lg mr-1 " href="/register" role="button">Register</a>
    <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>

  </div>
</div>

<%- include('partials/footer') %>
